* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-image: url(../img/pattern.jpg);
}

header {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li {
  margin-right: 30px;
}

section {
  height: 100vh;
  margin: 0 auto;
  width: 55%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 30px;
  background-color: #ffffff;
}

footer {
  padding: 20px;
  background-color: black;
  color: white;
  position: static;
  width: auto;
  bottom: 0;
  text-align: center;
}

h1 {
  margin: 25px 0 40px 0;
  font-size: 30px;
  text-align: center;
}

h3 {
  margin: 10px 0 10 0;
  font-size: 25px;
}

p {
  margin-bottom: 10px;
  font-size: 17px;
}

hr {
  border: none;
  height: 3px;
  background-color: black;
}

article {
  margin-bottom: 15px;
}
